modules = ["nodejs-20"]
[agent]
expertMode = true

[workflows]

[[workflows.workflow]]
name = "run test"
mode = "sequential"
author = 2087840

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run test"

[[workflows.workflow]]
name = "run integration"
mode = "sequential"
author = 2087840

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run test:integration"
